// *{flex-direction: column;}
 
 .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
  }
  
  .flex-container>div {
    height: 750px;
    width: 100%;
    // border: 5px solid #fff;
  }
  
  .flex-container > .tropical {
    background: url("https://images.unsplash.com/photo-1548164806-9709e698bfc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8N3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size:     cover;  
  // background-size: auto;
  }
  
  .flex-container > .cold {
    background: url("https://images.unsplash.com/photo-1548217395-6c6095abb49c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80");
    background-repeat: no-repeat;
    background-size:     cover;  
    // background-size: auto;
  }
  .flex-container > .pnw {
    background: url("https://images.unsplash.com/photo-1548195667-1d329af0a472?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80");
  }
  .flex-container > .desert {
    background: url("https://images.unsplash.com/photo-1548413935-a7d015ff5865?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80");
    background-repeat: no-repeat;
    background-size:     cover;  
    // background-size: auto;  
  }
  
  @media only screen and (max-width: 1000px) {
    .flex-container {
      flex-wrap: wrap;
    }
  }
  .container-fluid.main{
    position: relative; /* To make the navbar positions relative to this container */
    padding: 0;
  }
  
  .image-hoverable:hover{
    // opacity: .3;
    //  -webkit-filter: grayscale(40%) sepia(40%) blur(30%) contrast(60%); 
     -webkit-filter: brightness(140%);
    // background-image:linear-gradient(
    //   rgba(255, 0, 0, 0.45), 
    //   rgba(255, 0, 0, 0.45)
    // )
  }
  
// .header{
//   background: url("http://a.top4top.net/p_397znzmu1.png") center center fixed;
//   color: #FFF;
//   height: 100vh;
//   position: relative;
//   background-size: cover;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   -msn-background-size: cover;
// }
.navbar{
  flex-direction: column !important;
}
.header .overlay{
  background: rgba(0, 0, 0, 0.58);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; 
}


.header .navbar-default {
background-color:transparent !important;
border-color:transparent;
background-image:none;
box-shadow:none;	
}
.header .navbar-default .navbar-brand{
  font-size: 30px;
  font-weight: bold;
  color: #FFF;
}

.header .navbar-default .navbar-nav>li>a {
 font-size:20px; 
 color:#fff; 
  border-bottom: 1px solid transparent
}
.header .navbar-default .navbar-nav>li:hover a{
  color: #333;
   border-bottom: 1px solid #FFF
}


.header .navbar-toggle {
    margin:10px 0; 
    background:#36C; 
    color:#FFF;
}


