.blogdetails
{
    flex-direction: column !important;
    text-align: start;
    width:100%;
    border-radius: 0.2em;
    // height: 15em;
}
.btn{
    width: 100% !important;
    border:0.5px solid black !important;
    border-radius: 9999px !important;
    // border-width: 1px !important;
    // border-color: rgb(204 204 204 / var(--tw-border-opacity)) !important;
}
.destinationbutton {
    display: inline-block !important;
    border-radius: 9999px !important;
    // border-width: 1px !important;
    border-color: rgb(204 204 204 / var(--tw-border-opacity)) !important;
    // border-color: black !important;
    padding: 0.5rem 1.25rem !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    transition-property: all !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 0.15s !important;
    margin-bottom: 1rem !important;
    // color: rgb(248,248,255);
    background-color: white !important;
    color: black !important;
    color: rgb(75 75 75 / var(--tw-text-opacity)) !important;
    border-width: 0.2em !important;
    z-index: 600;
  }
  
  .destinationbutton:hover {
    background-color: #36c !important;
    color: white !important;
    border-radius: 9999px !important;
    border-width: 1px !important;
    border-color: rgb(204 204 204 / var(--tw-border-opacity)) !important;
  }

  .dest {
    background-color: black;
    
  }
  .destItem {
    display: flex;
    flex-wrap: wrap;
  }
  
  .destItem > div{
    flex: 50%;
  }