#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
.content {
    position: fixed;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    
    width: 100%;
    /* padding-left: 250px; */
    /* padding-right: 100px !important; */
    padding-bottom: 400px;
  }
  /* .button{
      width:100px;
  } */
  button {color:#454545;background:transparent;border-width:2px;border-style: solid;border-color: #454545;position:relative;margin:1em;display:inline-block;padding:1em 1em;transition:all 0.3s ease-in-out;text-align:center;
    font-family:comfortaa;font-weight:bold}
    button:before, button:after {content:'';display:block;position:absolute;border-color:#454545;box-sizing:border-box;border-style:solid;width:1em;height:1em;transition:all 0.3s ease-in-out}
    button:before {top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
    button:after {bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
    button:hover:before, button:hover:after {width:calc(100% + 12px);
      height:calc(100% + 12px);border-color:#fff}
    button:hover {color:#353535;background-color:#fff;border-color:#fff}
  .button {color:#454545;background:transparent;border-width:2px;border-style: solid;border-color: #454545;position:relative;margin:1em;display:inline-block;padding:1em 1em;transition:all 0.3s ease-in-out;text-align:center;
    font-family:comfortaa;font-weight:bold}
    .button:before, .button:after {content:'';display:block;position:absolute;border-color:#454545;box-sizing:border-box;border-style:solid;width:1em;height:1em;transition:all 0.3s ease-in-out}
    .button:before {top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
    .button:after {bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
    .button:hover:before, .button:hover:after {width:calc(100% + 12px);
      height:calc(100% + 12px);border-color:#fff}
    .button:hover {color:#353535;background-color:#fff;border-color:#fff}
  .panel {text-align:center;position:relative;margin:auto;}
  .pink button {color:#1b4332;border-color:#1b4332}
.pink button:before, .pink button:after  {border-color:#1b4332}
.pink button:hover:before, .pink button:hover:after {border-color:#1b4332;}
.pink button:hover {color:#fff;background-color:#1b4332;border-color:#1b4332;}
.pink .panel {text-align:center;position:relative;margin:auto;}