.navigation {
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

// .logo-image{
//     width: auto;
//     height: auto;
//     border-radius: 10%;
//     overflow: hidden;
    
// }

nav div,
nav div Link {
  display: inline-block;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  float: center;
}

.navbar-logo {
  padding-right: 5%;
  // padding: 0;
  //   height: 20%;
  //   width: 20%;
  //   max-height: 70px;
  //   max-width: 70px;
  //   object-fit: contain;
  // transform: scale(0.5, 0.5);
  // -ms-transform: scale(0.5, 0.5);
  // -webkit-transform: scale(0.5, 0.5);
  
  object-fit: cover;
width: 100%;
height: 250px;
}

.navbar-right {
  float: right;
  padding-right: 5%;
}

.navbar-right a {
  text-decoration: none;
  padding: 20px;
  color: #fff;
  font-family: Arial;
  font-weight: 900;
}
.py-5{
  padding-top: 0 !important;
}
.navbar-right{
  padding-top: 0 !important;
}
.navbar-right a:hover {
  text-decoration: underline;
}

.navbar-left {
  float: left;
  padding-left: 5%;

  text-decoration: none;
  padding: 10px;
  color: #fff;
  font-family: Arial;
  font-weight: 900;
}

.navbar-left a:hover {
  text-decoration: underline;
}

.image-div{
  max-width: 70px;
  max-height: 70px;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // background-size: contain;
  height: 100%; 
  width: 100%; 
  object-fit: contain;

  height: 20em;
  width: 20em;
}

.image-div img{
  max-width: 200%;
  max-height: 200%;
  margin: auto;
  display: block;
  padding : 0;
  // padding-left: 2em;
  margin-left: 1em;
}
